* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
img {
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
h1 , h2 , h4 , h3 {
  font-family: 'Playfair Display', serif;
}
p {
  line-height: 27px;
  font-size: 15px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 99;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
@keyframes bounce {
  from, to
 { transform: translateY(0) scale(1,1);
  animation-timing-function: ease-in}
45%
  {transform: translateY(5em) scale(1,1);
    animation-timing-function: linear}
50%
 { transform: translateY(5em) scale(1.5,0.5);
  animation-timing-function: linear}
55%
{  transform: translateY(5em) scale(1,1);
  animation-timing-function: ease-out}

}

/** HEADER ***********************************************************/
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  padding-left: 0;
  font-family: 'Playfair Display', serif;
  border-bottom: solid #80808073 1px;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li {
  margin: 0 20px;
}
.header-nav ul li:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.header-nav img {
  width: 50px;
}
.header-nav .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}
@media screen and (max-width: 500px){
  .header-nav .logo {
    font-size: 15px;
  }
  .header-nav span {
    display: none;
  }
  .header-nav li {
    font-size: 15px;
  }
}
/** MENU ***********************************************************/
.menu li {
  background-size: cover;
  height: 300px;
  width: 100%;
  border-bottom: white 5px solid;
  position: relative;
}
.menu li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.467);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  text-transform: uppercase;
}
.portrait {
  background: url(../public/assets/image6.jpg) fixed 100% 100%;
}
.mariage {
  background: url(../public/assets/mariage.jpg) fixed;
}
.famille {
  background: url(../public/assets/famille.jpg) fixed;
}
.mode {
  background: url(../public/assets/mode.jpg) fixed;
}
.architecture {
  background: url(../public/assets/architecture.jpg) fixed;
}
@media screen and (max-width: 900px) {
  .menu li a {
    font-size: 70px;
  }
}
@media screen and (max-width: 600px) {
  .menu li a {
    font-size: 50px;
  }
  .portrait {
    background: url(../public/assets/image6.jpg) 100% 100%;
  }
  .mariage {
    background: url(../public/assets/mariage.jpg);
  }
  .famille {
    background: url(../public/assets/famille.jpg);
  }
  .mode {
    background: url(../public/assets/mode.jpg);
  }
  .architecture {
    background: url(../public/assets/architecture.jpg);
  }
}
@media screen and (max-width: 400px) {
  .menu li a {
    font-size: 40px;
  }
  .menu li {
    height: 200px;
  }
}


/** GALERIES ***********************************************************/
.page .galerie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 20px;
}
.page .galerie img {
  width: 30%;
  height: 350px;
  margin: 20px;
  cursor: pointer;
}
.page .galerie img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
.lightbox img {
  width: auto;
  height: 100%;
}
.prev-button, .next-button, .close-btn {
  position: absolute;
  color: rgba(255, 255, 255, 0.293);
  background: none;
  border: none;
  outline: none;
  font-size: 50px;
  cursor: pointer;
}
.prev-button {
  left: 20px;
}
.next-button {
  right: 20px;
}
.close-btn {
  top: 20px;
  right: 20px;
  font-size: 25px;
}
@media screen and (max-width: 900px) {
  .page .galerie img {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .page .galerie img {
    width: 40%;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .page .galerie img {
    width: 100%;
    height: 250px;
  }
}
/** FOOTER ***********************************************************/
footer {
  font-family: 'Playfair Display', serif;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-top: solid #808080c6 1px;
}
@media screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    font-size: 12px;
    line-height: 20px;
  }
}



.fade-out {
  animation: fadeOut 3s ease-in-out forwards;
}
.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-container {
  position: relative;
}
.circle {
  border-radius: 50%;
  width:20px;
  height: 20px;
  transform-origin: 50% 100%;
  animation: bounce 1s linear infinite;
  background: black;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.loader img {
  width: 200px;
}







.header-hp {
  display: flex;
  justify-content: space-between;
  margin: 20px 5%;
}
.header-hp img {
  width: 300px;
}
.header-hp div:nth-child(1) , .header-hp div:nth-child(2) {
  width: 50%;
}
.header-hp div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-hp div:nth-child(1) h2 {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  font-style: italic;
}
.header-hp div:nth-child(1) h1 {
  margin-left: 60px;
  font-size: 70px;
  margin-bottom: 30px;
  line-height: 80px;
}
.header-hp div:nth-child(1) p {
  margin-left: 120px;
  line-height: 28px;
  font-style: italic;
}
.header-hp div:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.header-hp div:nth-child(2) img:nth-child(1) {
  width: 400px;
  height: 550px;
  opacity: 0.5;
  box-shadow: #000000e1 1px 1px 15px;
}
.header-hp div:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 380px;
  height: 450px;
  left: 100px;
  top: 50px;
  box-shadow: #000000e1 1px 1px 15px;
}
@media screen and (max-width: 1050px) {
  .header-hp div:nth-child(2) img:nth-child(1) {
    width: 350px;
    height: 500px;
    opacity: 0.5;
    box-shadow: #000000e1 1px 1px 15px;
  }
  .header-hp div:nth-child(2) img:nth-child(2) {
    position: absolute;
    width: 320px;
    height: 400px;
    left: 100px;
    top: 50px;
    box-shadow: #000000e1 1px 1px 15px;
  }
}
@media screen and (max-width: 1024px) {
  .header-hp div:nth-child(1) {
    width: 50%;
  }
  .header-hp div:nth-child(1) h1 {
    margin-left: 30px;
    font-size: 60px;
    line-height: 70px;
  }
  .header-hp div:nth-child(1) h2 {
    font-size: 25px;
  }
  .header-hp div:nth-child(1) p {
    margin-left: 60px;
    line-height: 25px;
    font-style: italic;
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .header-hp div:nth-child(2) img:nth-child(1) {
    width: 300px;
    height: 450px;
  }
  .header-hp div:nth-child(2) img:nth-child(2) {
    position: absolute;
    width: 270px;
    height: 350px;
  }
}
@media screen and (max-width: 800px) {
  .header-hp {
    flex-direction: column;
  }
  .header-hp div:nth-child(1) , .header-hp div:nth-child(2) {
    width: 100%;
  }
  .header-hp div:nth-child(2) img:nth-child(1) {
    width: 40%;
    height: 450px;
    opacity: 1;
  }
  .header-hp div:nth-child(2) img:nth-child(2) {
    position: initial;
    width: 40%;
    height: 450px;
  }
  .header-hp div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .header-hp div:nth-child(1) h1 {
    margin-left: 0;
    font-size: 40px;
    line-height: 40px;
  }
  .header-hp div:nth-child(1) h2 {
    font-size: 25px;
  }
  .header-hp div:nth-child(1) p {
    margin-left: 0;
    line-height: 25px;
    font-style: italic;
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .header-hp div:nth-child(2) img:nth-child(1) {
    width: 70%;
    height: 400px;
    margin-bottom: 30px;
  }
  .header-hp div:nth-child(2) img:nth-child(2) {
    width: 70%;
    height: 400px;
  }
  .header-hp div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .header-hp div:nth-child(1) h1 {
    margin-left: 0;
    font-size: 40px;
    line-height: 40px;
  }
  .header-hp div:nth-child(1) h2 {
    font-size: 25px;
  }
  .header-hp div:nth-child(1) p {
    margin-left: 0;
    line-height: 25px;
    font-style: italic;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .header-hp div:nth-child(2) img:nth-child(1) {
    width: 90%;
    height: 400px;
    margin-bottom: 30px;
  }
  .header-hp div:nth-child(2) img:nth-child(2) {
    width: 90%;
    height: 400px;
  }
}






.bg-parallax {
  background: url(./3.jpg) fixed;
  background-size: cover;
  height: 150px;
  margin-top: 80px;
  position: relative;
}
.bg-parallax span {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  position: absolute;
}







.presentation {
  padding: 50px 10%;
  padding-bottom: 100px;
  background-color: #8080801f;
}
.presentation h2 {
  font-size: 35px;
  margin-left: 100px;
}
.presentation h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  margin: 5px;
  margin-left: 200px;
}
.presentation div:nth-child(1) p {
  margin: 20px;
  margin-left: 300px;
}
.presentation div:nth-child(2){
  display: flex;
  justify-content: space-between;
}
.presentation img {
  width: 45%;
}
.presentation div:nth-child(2) p {
  width: 50%;
  font-size: 14px;
}
@media screen and (max-width: 900px) {
  .presentation div:nth-child(1) p {
    margin-left: 0;
  }
  .presentation {
    padding: 30px 5%;
  }
}
@media screen and (max-width: 600px) {
  .presentation div:nth-child(2){
    flex-direction: column;
    align-items: center;
  }
  .presentation img {
    width: 100%;
    margin-bottom: 30px;
  }
  .presentation div:nth-child(2) p {
    width: 100%;
    font-size: 14px;
  }
  .presentation h2 {
    margin-left: 0;
  }
  .presentation h3 {
    margin-left: 0;
  }
}





.types {
  margin: 100px 10%;
  display: flex;
  justify-content: space-between;
  position: relative
}
.types div:nth-child(1) {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.types figure {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.types figure img {
  width: 60px;
  margin-bottom: 10px;
}
.types figcaption {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.types div:nth-child(2) {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.types div:nth-child(2) img {
  width: 300px;
}
.types div:nth-child(2) img:nth-child(1) {
  width: 400px;
  height: 550px;
  opacity: 0.5;
  box-shadow: #000000e1 1px 1px 15px;
}
.types div:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 350px;
  height: 480px;
  left: -20px;
  top: 40px;
  box-shadow: #000000e1 1px 1px 15px;
}
@media screen and (max-width: 978px) {
  .types {
    margin: 50px 5%;
  }
  .types div:nth-child(2) img {
    width: 250px;
  }
  .types div:nth-child(2) img:nth-child(1) {
    width: 350px;
    height: 500px;
  }
  .types div:nth-child(2) img:nth-child(2) {
    width: 300px;
    height: 420px;
  }
}
@media screen and (max-width: 800px) {
  .types {
    margin: 50px 5%;
    flex-direction: column;
  }
  .types div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .types div:nth-child(2) img:nth-child(1) {
    width: 70%;
    height: 500px;
    margin: 30px 0;
  }
  .types div:nth-child(2) img:nth-child(2) {
    width: 70%;
    height: 500px;
    position: initial;
  }
  .types div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .types figure {
    width: 30%;
    margin: 20px;
  }
  .types figure img {
    width: 60px;
    margin-bottom: 10px;
  }
  .types figcaption {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 500px) {
  .types div:nth-child(2) img:nth-child(1) {
    width: 90%;
  }
  .types div:nth-child(2) img:nth-child(2) {
    width: 90%;
  }
}
